* Exercise and Solution
  * Create Tables in remote database
  * Populate Sales data into the table and Validate by running queries
  * Validate Database Connectivity against remote database using Python

Solution
```sql
DROP TABLE sales;
CREATE TABLE sales (
	sale_id INT PRIMARY KEY, -- Unique as well as not null
	sale_rep_id INT,
	sale_amount FLOAT,
	commission_pct INT
);

DROP TABLE sale_reps;
CREATE TABLE sale_reps (
	sale_rep_id INT PRIMARY KEY, 
	sr_first_name VARCHAR(50) NOT NULL,
	sr_last_name VARCHAR(50) NOT NULL DEFAULT 'NA',
	sr_email VARCHAR(100) NOT NULL,
	sr_phone_number VARCHAR(20),
	sr_salary FLOAT,
	created_ts TIMESTAMP DEFAULT current_timestamp
);

INSERT INTO sales
VALUES
	(1, 101, 500.00, 5),
	(2, 102, 250.00, 3),
	(3, 103, 1000.00, 8),
	(4, 104, 750.00, NULL),
	(5, 101, 300.00, -1),
	(6, 106, 400.00, 3),
	(7, 104, 200.00, 0),
	(8, 103, 150.00, 1),
	(9, 104, 600.00, 4),
	(10, 101, 800.00, 6);
	
SELECT * FROM sales;
SELECT * FROM sales WHERE commission_pct IS NULL;
```

In [ ]:
# Validate Database Connectivity using Python
# You can use the same code for the solution to the exercise
import psycopg2

In [ ]:
help(psycopg2.connect)

In [ ]:
# Update details using remote database information for the solution to the exercise
conn = psycopg2.connect(
    host='localhost',
    port=5432,
    database='itversity_retail_db',
    user='itversity_retail_user',
    password='itversity'
)

In [ ]:
cur = conn.cursor()

In [ ]:
cur.execute('SELECT current_date')

In [ ]:
cur.fetchall()

In [ ]:
cur.execute('SELECT * FROM sales')

In [ ]:
cur.fetchall()