* Exercise: Read data from `data/sales/part-00000` and write to `sales` table.
  * Create `sales` table if it does not exists.
  * Read the data from `data/sales/part-00000`.
  * Make sure to build list of tuples with appropriate types. If any value is empty string, make sure to convert it to `None`.
  * Populate data using `executemany` and commit.
  * Run the query and review the results. The table should contain 10 records.

In [ ]:
import psycopg2

In [ ]:
conn = psycopg2.connect(
    host='localhost',
    port=5432,
    database='itversity_retail_db',
    user='itversity_retail_user',
    password='itversity'
)

In [ ]:
cur = conn.cursor()

In [ ]:
cur.execute('DROP TABLE IF EXISTS sales')

In [ ]:
cur.execute('''
    CREATE TABLE sales (
        sale_id INT PRIMARY KEY,
        sale_rep_id INT,
        sale_amount FLOAT,
        commission_pct INT
    )
''')

In [ ]:
with open('data/sales/part-00000') as fp:
    data = fp.read().splitlines()

In [ ]:
type(data)

In [ ]:
recs = []
for rec in data[1:]:
    r = rec.split(',')
    recs.append((int(r[0]), int(r[1]), float(r[2]), int(r[3]) if r[3] != '' else None))

recs

In [ ]:
query = '''
    INSERT INTO sales (sale_id, sale_rep_id, sale_amount, commission_pct)
    VALUES (%s, %s, %s, %s)
'''

In [ ]:
cur.executemany(query, recs)

In [ ]:
conn.commit()

In [ ]:
cur.execute('SELECT * FROM sales')

In [ ]:
cur.fetchall()