* Overview of CRUD Operations
* Overview of Database Operations
* DDL - Data Definition Language
* DML - Data Manipulation Language
* DQL - Data Query Language
* Insert Data into a table
* Update Data in a table
* Delete Data from a table
* Exercise and Solution

Exercise
```
sale_id,sale_rep_id,sale_amount,commission_pct
1,101,500.00,5
2,102,250.00,3
3,103,1000.00,8
4,104,750.00,
5,101,300.00,-1
6,106,400.00,3
7,104,200.00,0
8,103,150.00,1
9,104,600.00,4
10,101,800.00,6
```

Create Table Commands.
```sql
DROP TABLE sales;
CREATE TABLE sales (
	sale_id INT PRIMARY KEY, -- Unique as well as not null
	sale_rep_id INT,
	sale_amount FLOAT,
	commission_pct INT
);

DROP TABLE sale_reps;
CREATE TABLE sale_reps (
	sale_rep_id INT PRIMARY KEY, 
	sr_first_name VARCHAR(50) NOT NULL,
	sr_last_name VARCHAR(50) NOT NULL DEFAULT 'NA',
	sr_email VARCHAR(100) NOT NULL,
	sr_phone_number VARCHAR(20),
	sr_salary FLOAT,
	created_ts TIMESTAMP DEFAULT current_timestamp
);
```