* Overview of Pandas
* Pandas Key Data Structures
* Overview of Series
* Standard Operations on Series
* Overview of Pandas Dataframes
* Create Pandas Dataframe using list of tuples
* Create Pandas Dataframe using list of dicts
* Number of columns and rows in Pandas Dataframe
* Using `count` and `describe`
* Overview of Standard Operations

In [1]:
import pandas as pd

In [3]:
pd.DataFrame([[1, 2], [2, 3]]).describe()

              0         1
count  2.000000  2.000000
mean   1.500000  2.500000
std    0.707107  0.707107
min    1.000000  2.000000
25%    1.250000  2.250000
50%    1.500000  2.500000
75%    1.750000  2.750000
max    2.000000  3.000000