* Overview of Python APIs for Database Programming
* Create table in Database using Python
* Insert single records using execute
* Insert many records using executemany
* Update existing data in the table
* Delete existing from the table
* Drop or Truncate existing table
* Exercise and Solution

In [ ]:
# Overview of Python APIs for Database Programming
import psycopg2

In [ ]:
conn = psycopg2.connect(
    host='localhost',
    port=5432,
    database='itversity_retail_db',
    user='itversity_retail_user',
    password='itversity'
)

In [ ]:
cur = conn.cursor()

In [ ]:
# cur.execute
# cur.executemany

In [ ]:
# Create table in Database using Python
cur.execute('DROP TABLE IF EXISTS departments')

In [ ]:
cur.execute('''
    CREATE TABLE departments(
        department_id INT PRIMARY KEY,
        department_name VARCHAR(30)
    )
''')

In [ ]:
# Insert single records using execute
cur.execute('''
    INSERT INTO departments (department_id, department_name)
    VALUES (2, 'Fitness')
''')

In [ ]:
cur.execute('''
    INSERT INTO departments (department_id, department_name)
    VALUES (3, 'Footwear')
''')

In [ ]:
conn.commit()

In [ ]:
query = '''
    INSERT INTO departments (department_id, department_name)
    VALUES (%s, %s)
'''

In [ ]:
cur.execute(query, (4, 'Apparel'))

In [ ]:
conn.commit()

In [ ]:
cur.execute('SELECT * FROM departments')

In [ ]:
cur.fetchall()

In [ ]:
# Insert many records using executemany
query = '''
    INSERT INTO departments (department_id, department_name)
    VALUES (%s, %s)
'''

In [ ]:
data = [(5, 'Golf'), (6, 'Outdoors'), (7, 'Fan Shop')]

In [ ]:
cur.executemany(query, data)

In [ ]:
conn.commit()

In [ ]:
cur.execute('SELECT * FROM departments')

In [ ]:
cur.fetchall()

In [ ]:
# Update existing data in the table
query = '''
    UPDATE departments
    SET department_name = %s
    WHERE department_id = %s
'''

In [ ]:
cur.execute(query, ('GOLF', 5))

In [ ]:
conn.commit()

In [ ]:
cur.execute('SELECT * FROM departments')

In [ ]:
cur.fetchall()

In [ ]:
# Delete existing from the table
query = 'DELETE FROM departments WHERE department_id IN %s'

In [ ]:
cur.execute(query, [(2, 5)])

In [ ]:
conn.commit()

In [ ]:
cur.execute('SELECT * FROM departments')

In [ ]:
cur.fetchall()

In [ ]:
# Drop or Truncate existing table
# Drop will remove the table from the database
query = 'TRUNCATE TABLE departments'

In [ ]:
cur.execute(query)

In [ ]:
conn.commit()

In [ ]:
cur.execute('SELECT * FROM departments')

In [ ]:
cur.fetchall()

* Exercise: Create `sales` table and populate data into the table using `executemany`.
  * Drop `sales` table if it exists.
  * Create `sales` table using Python.
  * Use data in `data/sales/part-00000` to generate list of tuples with right data types.
  * Populate data using `executemany` and commit.
  * Run the query and review the results. The table should contain 10 records.