* Overview of Python APIs for Database Programming
* Create table in Database using Python
* Insert single records using execute
* Insert many records using executemany
* Update existing data in the table
* Delete existing data from the table
* Drop or Truncate existing table
* Exercise and Solution

In [ ]:
# Overview of Python APIs for Database Programming
import psycopg2

In [ ]:
conn = psycopg2.connect(
    host='localhost',
    port=5432,
    database='itversity_retail_db',
    user='itversity_retail_user',
    password='itversity'
)

In [ ]:
cur = conn.cursor()

In [ ]:
type(cur)

In [ ]:
# cur.execute
# cur.executemany

In [ ]:
# Create table in Database using Python
cur.execute('DROP TABLE IF EXISTS departments')

In [ ]:
cur.execute('''
    CREATE TABLE departments (
        department_id INT NOT NULL,
        department_name VARCHAR(45) NOT NULL,
        PRIMARY KEY (department_id)
    )
''')

In [ ]:
cur.execute('SELECT * FROM departments')

In [ ]:
cur.fetchall()

In [ ]:
# Insert single records using execute
cur.execute('''
    INSERT INTO departments (department_id, department_name)
    VALUES (2, 'Fitness')
''')

In [ ]:
cur.execute('SELECT * FROM departments')

In [ ]:
cur.fetchall()

In [ ]:
cur.execute('''
    INSERT INTO departments (department_id, department_name)
    VALUES (3, 'Footwear')
''')

In [ ]:
cur.execute('SELECT * FROM departments')

In [ ]:
cur.fetchall()

In [ ]:
query = '''
    INSERT INTO departments (department_id, department_name)
    VALUES (%s, %s)
'''

In [ ]:
cur.execute(query, (4, 'Apparel'))

In [ ]:
cur.execute('SELECT * FROM departments')

In [ ]:
cur.fetchall()

In [ ]:
conn.commit()

In [ ]:
# Insert many records using executemany
query = '''
    INSERT INTO departments (department_id, department_name)
    VALUES (%s, %s)
'''

In [ ]:
cur.executemany(query, [(5, 'Golf'), (6, 'Outdoors'), (7, 'Fan Shop')])

In [ ]:
cur.execute('SELECT * FROM departments')

In [ ]:
cur.fetchall()

In [ ]:
conn.commit()

In [ ]:
# Update existing data in the table
query = '''
    UPDATE departments
    SET department_name = %s
    WHERE department_id = %s
'''

In [ ]:
cur.execute(query, ('GOLF', 5))

In [ ]:
conn.commit()

In [ ]:
cur.execute('SELECT * FROM departments')

In [ ]:
cur.fetchall()

In [ ]:
# Delete existing data from the table
query = 'DELETE FROM departments WHERE department_id IN %s'

In [ ]:
cur.execute(query, [(2, 5)])

In [ ]:
conn.commit()

In [ ]:
cur.execute('SELECT * FROM departments')

In [ ]:
cur.fetchall()

In [ ]:
cur.execute('TRUNCATE TABLE departments')

In [ ]:
cur.execute('SELECT * FROM departments')

In [ ]:
cur.fetchall()

In [ ]:
conn.commit()

* Exercise: Create `sales` table and populate data into the table using `executemany`.
  * Drop `sales` table if it exists.
  * Create `sales` table using Python.
  * Use data in `data/sales/part-00000` to generate list of tuples with right data types.
  * Populate data using `executemany` and commit.
  * Run the query and review the results. The table should contain 10 records.

In [ ]:
import psycopg2

In [ ]:
conn = psycopg2.connect(
    host='localhost',
    port=5432,
    database='itversity_retail_db',
    user='itversity_retail_user',
    password='itversity'
)

In [ ]:
cur = conn.cursor()

In [ ]:
cur.execute('DROP TABLE IF EXISTS sales')

In [ ]:
cur.execute('''
    CREATE TABLE sales (
        sale_id INT PRIMARY KEY,
        sale_rep_id INT,
        sale_amount FLOAT,
        commission_pct INT
    )
''')

In [ ]:
query = '''
    INSERT INTO sales (sale_id, sale_rep_id, sale_amount, commission_pct)
    VALUES (%s, %s, %s, %s)
'''

In [ ]:
data = [
    (1, 101, 500.00, 5),
    (2, 102, 250.00, 3),
    (3, 103, 1000.00, 8),
    (4, 104, 750.00, None),
    (5, 101, 300.00, -1),
    (6, 106, 400.00, 3),
    (7, 104, 200.00, 0),
    (8, 103, 150.00, 1),
    (9, 104, 600.00, 4),
    (10, 101, 800.00, 6)
]

In [ ]:
cur.executemany(query, data)

In [ ]:
conn.commit()

In [ ]:
cur.execute('SELECT * FROM sales')

In [ ]:
cur.fetchall()