* list
```python
# Group of elements
# Mutable
# Allows Duplicates
# Maintains the order

l = [1, 6, -1, 2, 1, 3]
```
* tuple
```python
# Group of elements
# Immutable
# Allows Duplicates
# Maintains the order

t = (1, 6, -1, 2, 1, 3)
```
* set
```python
# Group of unique elements
# Unique Elements (no duplicates)

s = {1, 6, -1, 2, 1, 3}
```
* dict
```python
# Group of key value pairs
# Similar to Hash Map in programming languages like Java
# Immutable
# Unique Keys (no duplicates)

user = {'id': 1, 'fname': 'Durga', 'lname': 'Gadiraju'}
```
* Iterable or Seq
* Exercise 1: Create a list with these elements - **1, 4, 2, 3, 1, 3**. Each element in the list should be of type integer. The list should contain 6 elements.
* Exercise 2: Create a tuple with these elements - **1, Mickey, Mouse, 1000.00**. The tuple should contain 4 elements. While first element is of type integer, last element is of type float and others are of type string.
* Exercise 3: Create a set with these elements - **1, 4, 2, 3**.
* Exercise 4: Create a dict for **1, Mickey, Mouse, 1000.00**. The respective keys are **id, first_name, last_name, salary**.