* Exercise 1: Sort the students data based on reverse order of total score.

* Exercise 2: Get total score along with other details as part of sorted output. Use `total_score` as key for **total score**.

In [7]:
students = [
    {'student_id': 1, 'scores': [80, 92, 85]},
    {'student_id': 2, 'scores': [75, 99, 82]},
    {'student_id': 3, 'scores': [92, 80, 77]},
    {'student_id': 4, 'scores': [63, 88, 70]},
    {'student_id': 5, 'scores': [92, 94, 91]}
]

In [8]:
# Solution for Exercise 1

student = students[0]

In [9]:
student['scores']

[80, 92, 85]

In [10]:
sum(student['scores'])

257

In [11]:

sorted(students, key=lambda student: sum(student['scores']))

[{'student_id': 4, 'scores': [63, 88, 70]},
 {'student_id': 3, 'scores': [92, 80, 77]},
 {'student_id': 2, 'scores': [75, 99, 82]},
 {'student_id': 1, 'scores': [80, 92, 85]},
 {'student_id': 5, 'scores': [92, 94, 91]}]

In [12]:
sorted(students, key=lambda student: sum(student['scores']), reverse=True)

[{'student_id': 5, 'scores': [92, 94, 91]},
 {'student_id': 1, 'scores': [80, 92, 85]},
 {'student_id': 2, 'scores': [75, 99, 82]},
 {'student_id': 3, 'scores': [92, 80, 77]},
 {'student_id': 4, 'scores': [63, 88, 70]}]

In [13]:
# Solution for Exercise 2
student = students[0]

In [14]:
student['scores']

[80, 92, 85]

In [15]:
sum(student['scores'])

257

In [16]:
students_with_total = []
for student in students:
    student['total_score'] = sum(student['scores'])
    students_with_total.append(student)

In [17]:
sorted(students_with_total, key=lambda student: student['total_score'])

[{'student_id': 4, 'scores': [63, 88, 70], 'total_score': 221},
 {'student_id': 3, 'scores': [92, 80, 77], 'total_score': 249},
 {'student_id': 2, 'scores': [75, 99, 82], 'total_score': 256},
 {'student_id': 1, 'scores': [80, 92, 85], 'total_score': 257},
 {'student_id': 5, 'scores': [92, 94, 91], 'total_score': 277}]

In [18]:
sorted(students_with_total, key=lambda student: student['total_score'], reverse=True)

[{'student_id': 5, 'scores': [92, 94, 91], 'total_score': 277},
 {'student_id': 1, 'scores': [80, 92, 85], 'total_score': 257},
 {'student_id': 2, 'scores': [75, 99, 82], 'total_score': 256},
 {'student_id': 3, 'scores': [92, 80, 77], 'total_score': 249},
 {'student_id': 4, 'scores': [63, 88, 70], 'total_score': 221}]